.line {
    fill: none;
    stroke: #777;
    stroke-width: 2px;
}

.hashrate_graph {
    width:98%;   
    height:100px;
    stroke: #777;
    stroke-width: 1px solid;
    display: inline-block;
}

.die_hashrate_graph {
    width:98%;   
    height:120px;
    stroke: #777;
    stroke-width: 1px solid;
    display: inline-block;
}

.graph_text_current {
    font-family: Economica, Helvetica, Arial;
    font-size: 12px;
}

.graph_text_min {
    font-family: Economica, Helvetica, Arial;
    font-size: 12px;
}

.graph_text_max {
    font-family: Economica, Helvetica, Arial;
    font-size: 12px;
}

.btn {
  font-family: Economica, Helvetica, Arial;
}

.btn-primary {
    background-color: #169A8D;
    border-color: #169A8D;
}

.btn.active, .btn:active {
    background-color: #169A8D;
    border-color: #169A8D;
}


[class*="col-"] {
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid #777;
  outline:  1px solid #777;
}

.noborder {
    border: 0px;
    outline: 0px;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.metricstable {
  font-family: Economica, Helvetica, Arial;
  font-size: 20px;
  color: #777;
}

.metrictitle {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.metricvalue {
    text-align: left;   
}

#title {
  font-family: Economica, Helvetica, Arial;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  color: #169A8D;
  line-height: 1.3;
}

.graph_max_circle {
    fill: red;
}

.graph_min_circle {
    fill: blue;
}

.graph_current_circle {
    fill: #169A8D;
}

.die_id {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Economica, Helvetica, Arial;
    font-weight: bold;
    font-size: 9px;
    color: #FFF;
    background-color: #169A8D;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    border-left: 0px;
    border-top: 0px;
    z-index: -1;
}

